{% extends 'base.html' %}
{% block content %}


    <div class="post-card-details">

      <div class="post-details">
        <div class="post-card-content">
            <div class="phrase">
              <span class="post-card-title">{{ post.phrase }}</span>
            </div>
            <div class="poster-info">
              {{ user.first_name }} {{ user.last_name }} |
              {{ post.native_language }} |
              {{ post.country_of_origin }}
            </div>
            <hr>
            <div class="post-card-action">
                <a href="{% url 'posts_update' post.id %}">✏️</a>
                <a href="{% url 'posts_delete' post.id %}">🗑</a>
                <a href="{% url 'add_favs' post.id profile_id %}">❤️</a>
              </div>
          </div>
        </div>
      
      
      <div class="post-comment-details">
        <div class="create-comments">
          <form action="" method="post">
            {% csrf_token %}
            <table>
              {{ form.as_table }}
            </table>
            <input type="submit" value="Submit!" class="btn">
          </form>
        </div>
        <div class="view-comments">
          <table>
            <thead>
              <tr><th>Date</th><th>Username</th><th>Comment</th></tr>
            </thead>
            <tbody>
              {% for comment in post.comment_set.all %}
                <tr>
                  <td>{{comment.date}}</td>
                  <td>{{comment.user.username}}</td>
                  <td>{{comment.comment}}</td>
                </tr>
              {% endfor %}
            </tbody>
            </table>
        </div>
     </div>

    </div>

{% endblock %}