{% extends 'base.html' %} {% block content %}

<div class="post-card-details-add-post">
  <div class="add-post-details">
    <div class="post-card-content">
      <div class="poster-info-add-post">
        <div class="phrase">
          <div class="make-post-title">
          {% if object %}
          <h1>Edit Phrase<span class="teal-text">{{object.name}}</span></h1>
          {% else %}
          <h1>Add Phrase to Translate Here:</h1>
          {% endif %}
        </div>
      </div>
      <div class="add-post-form">
        <form action="" method="post">
          {% csrf_token %}
          <span class="post-card-title">{{ form.phrase }}</span>
          <div class="poster-origin">
            {{ form.native_language }} || {{ form.country_of_origin }}
          </div>
          <input type="submit" value="Submit!" class="btn" />
        </form>
      </div>
      </div>
    </div>
  </div>
</div>

<!-- <form action="" method="post">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Submit!" class="btn" />
</form>

<script>
  const dateEl = document.getElementById("id_date");
  M.Datepicker.init(dateEl, {
    format: "yyyy-mm-dd",
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true,
  });
</script> -->
{% endblock %}
