{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Speak Easy - About Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background: linear-gradient(to bottom, #2D6373, #32526E, #383F6A, #3D2E66);
            color: white;
            margin: 0;
            height: 100vh;
        }
        p{
            color: black;
        }
        h3{
            color:black;
        }
        .row{
            align-items: flex-end;
        }
    </style>
</head>
<body>

<div class="container">
    <h3 class="center-align">Meet the Team</h3>

    <div class="row">
        <div class="col s12 m6 l3">
        <div class="card">
            <div class="card-image">
                <img src="{% static 'images/charles.jpeg' %}" alt="Team Member 1">
                <span class="card-title">Charles Grody</span>
            </div>
            <div class="card-content">
            <p>Github Manager + Scrum Master </p>
        </div>
            <div class="card-action">
                <a href="https://github.com/cdgrody/">GitHub</a>
                <a href="https://www.linkedin.com/in/cgrody/">LinkedIn</a>
            </div>
        </div>
        </div>

    <div class="col s12 m6 l3">
        <div class="card">
            <div class="card-image">
            <img src="{% static 'images/brittany.jpeg' %}" alt="Brittany Stidd">
            <span class="card-title">Brittany Stidd</span>
            </div>
            <div class="card-content">
                <p>Designer + Documenter</p>
            </div>
            <div class="card-action">
                <a href="https://github.com/bcstidd">GitHub</a>
                <a href="https://www.linkedin.com/in/brittany-stidd/">LinkedIn</a>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l3">
        <div class="card">
            <div class="card-image">
            <img src="{% static 'images/maria.jpeg' %}" alt="Team Member 3">
            <span class="card-title">Maria Reeves</span>
            </div>
        <div class="card-content">
            <p>Designer + Documenter</p>
        </div>
        <div class="card-action">
            <a href="https://github.com/mariareeves">GitHub</a>
            <a href="https://www.linkedin.com/in/mariapaulareeves/">LinkedIn</a>
        </div>
        </div>
    </div>

    <div class="col s12 m6 l3">
        <div class="card">
        <div class="card-image">
            <img src="{% static 'images/lola.jpeg' %}" alt="Team Member 4">
            <span class="card-title">Lola Russell</span>
        </div>
        <div class="card-content">
            <p>Database Manager + API Manager</p>
        </div>
        <div class="card-action">
            <a href="https://github.com/LeeLoo3434">GitHub</a>
            <a href="https://www.linkedin.com/in/lola-russell-developer/">LinkedIn</a>
        </div>
        </div>
    </div>
    </div>
    <div class="col s12">
        <p class="flow-text center-align">
            Our app is a collaborative language learning platform where users can submit phrases to translate and receive feedback from native speakers.
            With a team of talented developers, designers, and language enthusiasts,
            we aim to create an immersive and engaging learning experience for everyone.
</body>
</html>