{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SpeakEasy</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <style>
    .carousel-inner {
      max-width: 60%;
      max-height:1000px;
      align-self:center;
      margin: 0 auto;
    }
    /* a {
  color: white;
  text-decoration: none;
  justify-content: space-evenly;
} */

  </style>
</head>
<div class="home-page"> 
  <header> <img src="../static/images/FINISHED HEAD (1).jpg"></header>
  <body>
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="#" >About</a>
            {% if user.is_authenticated %}
            <a href="/profiles/{{profile_id}}">Profile</a>
            <a href="{% url 'posts_create' %}">Add A Post</a>
            <a href="{% url 'index' %}">View Posts</a>
            <a href="{% url 'logout' %}">Log Out</a>
            <a href="{% url 'home' %}">Home</a>
            {% else %}
            <a href="{% url 'signup' %}">Sign Up</a>
            <a href="{% url 'login' %}">Log In</a>
            {% endif %}
          </div>
        </style>
      </nav>
    </header>
  </div>
<body id="home-body">
      <form class="home-get-started" method="POST" action="{% url 'signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="get-started-button">
          <input type="submit" value="Get Started">
        </button>
      </form>
      <div class="carousel">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../static/images/paris.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../static/images/globe.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../static/images/germany.jpg" class="d-block w-100" alt="...">
            </div><div class="carousel-item">
              <img src="../static/images/amor.jpg" class="d-block w-100" alt="...">
            </div><div class="carousel-item">
              <img src="../static/images/asia .jpg" class="d-block w-100" alt="...">
            </div><div class="carousel-item">
              <img src="../static/images/wood.jpg" class="d-block w-100" alt="...">
            </div><div class="carousel-item">
              <img src="../static/images/kids.jpg" class="d-block w-100" alt="...">
            </div><div class="carousel-item">
              <img src="../static/images/table.jpg" class="d-block w-100" alt="...">
              </div><div class="carousel-item">
                <img src="../static/images/kids.jpg" class="d-block w-100" alt="...">
              </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    
  <main class="container">
  </main>
  <footer class="page-footer">
    <div class="right">All Rights Reserved, &copy; 2023 SpeakEasy LLC&nbsp;</div>
  </footer>
</body>
</html>
