
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #FFAE2C;
  background-size: cover;
  width: 100%;
  margin-bottom: 5px;
}
  main {
    flex: 1 0 auto;
    /* border: 3px solid black; */
    margin:0;
    padding: 0;

    
  }
  
  footer.page-footer {
    height: 25px;
    text-align: left;
    color: white;
    background-color: #2D6373;
    margin-bottom: -5px;
  } 
  



main {
  flex: 1 0 auto;
  /* border: 3px solid black; */
  margin: 0;
  padding: 0;
}

footer.page-footer {
  height: 25px;
  text-align: left;
  color: white;
  background-color: #2D6373;
  margin-bottom: -5px;
  position: sticky
}

header.img {
  margin: 0 auto;
  width: 100%;
}

  h1 {
  margin-left: 10px;
}

.home-page {
  background-color:white;
  background-size: cover;
  background-position: center;
}
.carousel{
  margin: auto;
  align-self: center;
  max-height: fit-content;
}

#home-body>nav>a {
 
  margin: 0px 10px 0px 10px;
  width: 100%;
  text-decoration: none;
}

nav {
  color: white;
  background-color: #FCC771;
  display: flex;
  justify-content: space-around;
  width: 100%;
}


.home-page{
  margin-top:  -5px;
}
.carousel-inner {
  width: 50%;
  max-height:400px; 
}
.home-page {
  margin-top: -5px;
}

.carousel-inner {
  max-width: 85%;
  max-height: 400px;
>>>>>>> main
}
.carousel-item img {
  width: 100%;
  background-color: #FFAE2C;
  border: 2px solid black;
}
<<<<<<< HEAD
=======

.carousel img {
  width: 100%;
}

>>>>>>> main
#home-body {
  background-color: #FFAE2C;
}

/* .navbar-fixed {
  display: flex;
  justify-content: space-evenly;
  background-color: #FFAE2C;
  align-items: center;
} */

.log {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  height: 200px;
  width: 400px;
  border: 3px solid black;
  background-color: #2D6373;
  color: white;
  margin: 0 auto;
  border-radius: 10px;
}

.inbtn {
  justify-content: center;
  align-self:center;
  margin: 30px;
  padding: 5px;
  float: right;
  border-radius: 5px;
}

a {
  color: white !important;
  font-size: larger;
}

p {
  margin-top: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2D6373;
}

label {
  margin: 10px;
}

#_username {
  margin: 10px;
}

.icon {
  display: flex;
  justify-content: flex-end;
}

.sign {
  display: flex;
  justify-content: center;
  height: 510px;
  margin: 0px 500px 0px 50px;
  width: 600px;
  border: 2px solid white;
  margin-bottom: none;
}

.sign>form {
  height: 200px;
  color: white;
}

.sign>form>p {
  margin:30px;
  justify-self: center;
}

.sign>form>ul {
  background-color: #2D6373;
  margin: 10px 0px 0px 50px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-style:oblique;
}

nav a {
  flex: 1;
  text-align: center;
  margin: 0px 50px 0px 50px
}