{% extends 'base.html' %}

{% block content %}

<div class="left-side">
    {% for photo in profile.photo_set.all %}
    <div>
        <img class="profile-img" src="{{photo.url}}" alt="Profile Photo">
    </div>

    {% empty %}
    <div>No Photos Uploaded</div>
    {% endfor %}

    <!-- new code below -->
    <form action="{% url 'add_photo' profile.id %}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <input type="file" name="photo-file">
        <br><br>
        <button type="submit" class="btn">Upload Photo</button>
    </form>
    <h1>{{ profile.user.first_name }}'s Profile</h1>
    <p>Primary Language: {{ profile.primary_language }}</p>
</div>
<div class="left-side">
    <h2>Favorite Posts:</h2>
    <div>
        {% for post in profile.favorite_posts.all %}
        <div>{{ post.phrase }}</li>
            {% empty %}
            <div>No favorite posts yet.</li>
                {% endfor %}
            </div>
        </div>

        {% endblock %}