{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-maria.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Profile</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper  amber accent-3">
            <ul class="right hide-on-med-and-down">
                {% if user.is_authenticated %}
                <li><a href="{% url 'posts_create' %}">Add A Post</a></li>
                <li><a href="{% url 'index' %}">View Posts</a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
                <li><a href="{% url 'home' %}">Home</a></li>
                {% else %}
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'login' %}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container-profile">

        <div class="left-side">
            <h1>{{ profile.user.first_name }}'s Profile</h1>
            {% for photo in profile.photo_set.all %}
            <div>
                <img class="profile-img" src="{{photo.url}}" alt="Profile Photo">
            </div>

            {% empty %}
            <div>No Photos Uploaded</div>
            {% endfor %}

            <form action="{% url 'add_photo' profile.id %}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <label for="photo-file" id="file-label">Choose a file</label>
                <input type="file" name="photo-file" id="photo-file"">
                <br><br>
                <button type=" submit" class="btn light-blue accent-3">Upload Photo</button>
            </form>
            <p>Primary Language: {{ profile.get_primary_language_display }}</p>
        </div>
        <div class="right-side">
            <h2>Favorite Posts:</h2>
            {% if profile.favorite_posts.all %}
            {% for post in profile.favorite_posts.all %}
            <div class="row">
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-content">
                            <p>{{ post.phrase }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div>No favorite posts yet.</div>
            {% endif %}
        </div>
    </div>


</body>

</html>